<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="C:/Users/Alqarout/IdeaProjects/FirstSeleniumTask-FirstFunctionality" parallel="tests">
        <classes>
            <class name="main.java.ChromeDriverInit">
                <methods>
                    <include name="ChromeDriverInitialize"/>
                </methods>
            </class>
            <class name="main.java.MainPageTest">
                <methods>
                    <include name="testMainPageTitle"/>
                    <include name="testMainPageHeaders"/>
                    <include name="clickHomeButton"/>
                    <include name="clickLoginButton"/>
                </methods>
            </class>
            <class name="main.java.SignUpPageTest">
                <methods>
                    <include name="testSignUpPageTitle"/>
                    <include name="validSignUpTest"/>
                    <include name="invalidSignUpTest"/>
                    <include name="clickSignIn"/>
                </methods>
            </class>
            <class name="main.java.SignInPageTest">
                <methods>
                    <include name="testSignInPageTitle"/>
                    <include name="testSignInPageElementsExist"/>
                    <include name="testBadCredentialsInForm"/>
                    <include name="clickSignUpButton"/>
                    <include name="signIn"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="C:/Users/Alqarout/IdeaProjects/FirstSeleniumTask-SecondFunctionality">
        <classes>
            <class name="main.java.LoggedInPageTest">
                <methods>
                    <include name="validateMainContents"/>
                    <include name="addressBtn"/>
                    <include name="signOut"/>
                </methods>
            </class>
        </classes>
    </test>


    <test verbose="2" preserve-order="true" name="C:/Users/Alqarout/IdeaProjects/FirstSeleniumTask-Third">
        <classes>
            <class name="main.java.NewAddressPageTest">
                <methods>
                    <include name="createEmptyAddress"/>
                    <include name="createInvalidFirstNameAddress"/>
                    <include name="createInvalidLastNameAddress"/>
                    <include name="createInvalidZipCodeAddress"/>
                    <include name="createInvalidAgeAddress"/>
                    <include name="createInvalidBirthdayAddress"/>
                    <include name="createValidAddress"/>
                    <include name="listInvalidAddressBeforeCreation"/>
                    <include name="listValidAddressBeforeCreation"/>
                </methods>
            </class>
        </classes>
    </test>


    <test verbose="2" preserve-order="true" name="C:/Users/Alqarout/IdeaProjects/FirstSeleniumTask-4">
        <classes>
            <class name="main.java.AddressPageTest">
                <methods>
                    <include name="showAddress"/>
                    <include name="testNewAddressBtn"/>
                    <include name="destroyAddress"/>
                    <include name="editAddress"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="C:/Users/Alqarout/IdeaProjects/FirstSeleniumTask-5">
        <classes>
            <class name="main.java.EditAddressPageTest">
                <methods>
                    <include name="editAddressCorrectlyAfterCreation"/>
                    <include name="editAddressIncorrectlyAfterCreation"/>
                    <include name="editAddressCorrectlyAtMainPage"/>
                    <include name="listAddressAtMainPage"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>